
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Gregga</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add') }}">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='dom-hill-465368.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>This the fliest shit ever
              This that Rich Forever Part 2
              Uh, uh
              Layin' in my bed, I'm under these gold chandeliers
              Can't say too many names that had these kinda years
              Night sweaters and these icy diamonds on my wrist
              Ice cube lookin' nigga, you know life a bitch
              I once got no allowance, now I got the crown
              I said I was the boss, nobody made a sound
              Really had to see them things, this level story tellin'
              Who else could flip a chorus into 40 million
              Out in Cannes with Leonardo DiCaprio
              While out on bond, pray I go to trial rapido
              8 felonies, tellin' me wanna give me life
              Every nut I bust really, I gotta do it twice
              Ricky Ronaldo, really when I'm in Portugal
              I pull a yacht out this weekend, I'm fuckin' so and so
              Cameras flash, paparazzi layin' in the grass
              Tom Brady my new nig but you can tell 'em that</p>
              <p>
              Uh, I think she like me
              Oh, I think she like me
              I know her nigga don't like me
              With your bitch right now, yeah, I might be
              Sippin' this right now, yeah, we might be
              Might hit it from the back, let her ride me
              Girl, you never meet another nigga like me
              Girl, you never meet another man like me
              <p>
              I'm sexin' women out on Fisher Isle
              I gas her up and let her lick me down
              I may name my daughter Hermes
              Get my jeweler to decorate the new birds nest
              20 million up at Merrill Lynch
              I met his chick, he haven't seen her since
              Through the city, I'm still floatin' like a magic carpet
              She stop me for a selfie, I just want the knowledge
              Expressin' what you think'll send your kids to college
              Or be a geechi nigga just to keep the Bentley polished
              Do it for the dear departed, fuck a Ben Carson
              Empire rented, you made a nigga a target
              Only one that's smokin' up in Goldman Sachs
              But I'm the only one that's rollin' like a quarter back
              And I never put it in my government
              'Cause I never put on for the government
              </p>
              Uh, I think she like me
              Oh, I think she like me
              I know her nigga don't like me
              With your bitch right now, yeah, I might be
              Sippin' this right now, yeah, we might be
              Might hit it from the back, let her ride me
              Girl, you never meet another nigga like me
              Girl, you never meet another man like me
              You caught the case, you gotta post a bond
              I'm Rayful Edmund mixed with young Wale Folarin
              Starin' in my safe, I'm rather safe than sorry
              Diddy, Jigga, only two niggas comin' for me
              I park the Caddy in my livin' room
              Pussy niggas lookin' for me, I'mma give it to him
              Santorini, Greece, sex in the swimmin' pool
              If her pussy dry, call her Beetle Juice
              I'm baby makin' in the Malvides
              Put up all the yachts, pulled out the jet skis
              Khaled hit me on the FaceTime
              I'm the fliest nigga on his bassline
              She see the sneakers and she see the stones
              Fat boy run the city, seated in the throne
              I'm cashin' in like the Kardashians
              My paralysed homie snuck a ratchet in
              Uh, I think she like me
              Oh, I think she like me
</p>
              <p>
              I know her nigga don't like me
              With your bitch right now, yeah, I might be
              Sippin' this right now, yeah, we might be
              Might hit it from the back, let her ride me
              Girl, you never meet another nigga like me
              Girl, you never meet another man like me
              Songwriters: William Leonard Roberts II / Tyrone William Griffin Jr.
              I Think She Like Me lyrics © Warner/Chappell Music, Inc</p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Gregga J 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
